@{
    ViewBag.Title = "Домашняя страница";
}

<h2>Домашняя страница</h2>

<br />

<div id="rep">
    test
</div>

<br />
<br />

@using (Ajax.BeginForm("_ButtonClick", "Home", new { str = "TEST" }, new AjaxOptions() { UpdateTargetId = "rep" }))
{
    <input type="submit" value="Ajax" class="btn btn-default"/>
}



<br />
<br />


